<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="{{ site.url }}/assets/img/favicon.png" type="image/png">
	<title>Unicat - Top Academic Assets and Services</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{{ site.url }}/assets/css/bootstrap.css">
	<link rel="stylesheet" href="{{ site.url }}/assets/vendors/linericon/style.css">
	<link rel="stylesheet" href="{{ site.url }}/assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ site.url }}/assets/vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="{{ site.url }}/assets/css/magnific-popup.css">
	<link rel="stylesheet" href="{{ site.url }}/assets/vendors/nice-select/css/nice-select.css">
	<!-- main css -->
	<link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
</head>
